.movies-card-list {
  padding: 70px 70px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 24px;
  justify-content: center;
}

.movies-card-list__searchin-result {
  display: block;
  margin: 0 auto;
}

.movies-card-list-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .movies-card-list {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px;
  }
}

@media screen and (max-width: 630px) {
  .movies-card-list {
    padding: 40px 10px 30px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
  }
}