.profile {
  display: flex;
}

.profile__content {
  margin: 74px auto 0;
}

.profile__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  margin: 120px 0 0;
  width: 410px;
}

.profile__input-content {
  display: flex;
  justify-content: space-between;
}

.profile__input-name {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  width: 122px;
  height: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border-radius: 8px;
  text-align: right;
  border: none;
  padding: 0;
}

.profile__input-error {
  margin: 10px 0 0 auto;
  width: 122px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  min-height: 12px;
  color: #FF4062;
  text-align: right;
  /* visibility: hidden; */
}

.profile__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 17px;
}

.profile__error {
  margin: 0;
  text-align: center;
  color: #FF4062;
  font-style: normal;
  font-weight: 400;
}

.profile__submit-button {
  display: block;
  margin: 220px auto 0;
  border: none;
  padding: 0;
  color: black;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__submit-button:hover {
  opacity: 0.8;
}

.profile__submit-button_disabled {
  cursor: default;
  color: #CCCCCC;
}

.profile__button {
  display: block;
  margin: 16px auto 0;
  border: none;
  padding: 0;
  color: #FF4062;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile__content {
    margin-top: 232px;
  }

  .profile__form {
    margin-top: 96px;
  }
}

@media screen and (max-width: 630px) {
  .profile__content {
    margin-top: 70px;
  }

  .profile__form {
    margin: 80px auto 0;
    width: 260px;
  }
}