.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #F3C1F8;
}

.header__logo {
  padding: 18px 0 18px 70px;
}

.header__navigation {
  padding: 21px 70px 21px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
}

.header__registration-button {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  padding-right: 30px;
  opacity: 1;
  transition: opacity 0.5s;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  color: black;
}

.header__registration-button:hover {
  opacity: 0.8;
}

.header__enter-button {
  display: block;
  border: none;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  width: 76px;
  line-height: 32px;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s;
  text-decoration: none;
  text-align: center;
}

.header__enter-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-left: 30px;
  }

  .header__navigation {
    padding-right: 30px;
  }
}

@media screen and (max-width: 630px) {
  .header__logo {
    padding-left: 14px;
  }

  .header__navigation {
    padding: 24px 14px 24px 0;
    font-size: 10px;
  }

  .header__registration-button {
    line-height: 26px;
    padding-right: 14px;
  }

  .header__enter-button {
    width: 54px;
    line-height: 26px;
  }
}